environment_name = "YOUR-ENVIRONMENT-NAME"
subscription_id = "YOUR-SUBSCRIPTION-ID"
tenant_id = "YOUR-TENANT-ID"
client_id = "YOUR-CLIENT-ID"
client_secret = "YOUR-CLIENT-SECRET"
location = "YOUR-REGION"
hosted_zone = "foo.example.com"
