*.tfvars
**/.terraform/*

# .tfstate files
**/*.tfstate
**/*.tfstate.*

**/*.tfplan

**/*.orig

crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

**/*.pem
**/*.pem.pub

# Ignore platform automation's default output
**/output.json

.idea
