environment_name = "YOUR-ENVIRONMENT-NAME"

project = "YOUR-GCP-PROJECT"

service_account_key = <<SERVICE_ACCOUNT_KEY
{
<YOUR-SERVICE-ACCOUNT-KEY>
}
SERVICE_ACCOUNT_KEY

region = "YOUR-GCP-REGION"
availability_zones = ["YOUR-GCP-ZONE-1", "YOUR-GCP-ZONE-2", "YOUR-GCP-ZONE-3"]
location = "US"
ingress_source_ranges = ["0.0.0.0/0"]
hosted_zone = "foo"

ssl_certificate = <<SSL_CERTIFICATE
-----BEGIN CERTIFICATE-----
<YOUR-LB-SSL-CERTIFICATE>
-----END CERTIFICATE-----
SSL_CERTIFICATE

ssl_private_key = <<SSL_PRIVATE_KEY
-----BEGIN RSA PRIVATE KEY-----
<YOUR-LB-SSL-PRIVATE-KEY>
-----END RSA PRIVATE KEY-----
SSL_PRIVATE_KEY

